#map {
    margin: 0 auto;
    width: 50%;
    min-height: 400px;
    max-height: 500px;
    height: 100%;
}

h1{
    color: darkblue;
    font-family: Verdana;
    text-align: center;
}

select{
    margin-bottom: 20px;
    margin-left: 20px;
}